.App {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.list-wrapper {
  margin-right: 10px;
}

.list {
  width: 250px;
}

.list .edit-item {
  margin-top: 9px;
  margin-bottom: 9px;
  padding: 0 9px;
}
.list .btn-outline-primary {
  margin-right: 10px;
 }

.App .btn.btn-lg.btn-block {
  border-radius: 0;
}

.App .btn.btn-outline-success {
  margin: 10px auto;
  display: block;
 }

#map {
  height: 400px;
  min-width: 600px;
}
